<%- include("partials/header") %>

<h1>Dashboard</h1>
<p>Hello <%=currentUser.username%></p>

<a href="/list/new">add todo</a>

<% todos.forEach(function(todo){ %>
    <div>
        <p><%=todo.description%></p>
        <form action="/list/<%=todo._id%>/delete?_method=DELETE" method="POST">
            <button>done</button>
        </form>
    </div>
<% }) %>

<%- include("partials/footer") %>